[user]
	name = Andrey Skvortsov
	email = andrej.skvortzov@gmail.com
	signingkey = 57A3AEAD

[format]
	signoff = true

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = andrej.skvortzov@gmail.com
	smtpserverport = 587

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential]
	helper = cache --timeout=18000

[include]
	path = ~/.gitconfig_host

[url "ssh://git@github.com"]
	insteadOf = https://github.com

[url "ssh://git@git.omprussia.ru"]
	insteadOf = https://git.omprussia.ru

[url "ssh://git@os-git.omprussia.ru"]
	insteadOf = https://os-git.omprussia.ru

